# Application Config
NODE_ENV=development
APP_PORT=4000
API_PREFIX=api/v1
CLIENT_URL=http://localhost:3000

# Database PostgreSQL
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/simantap_db?schema=public

# JWT Security
JWT_ACCESS_SECRET=simantap-jwt-access-secret-super-secure-key-2026-production-ready
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=simantap-jwt-refresh-secret-super-secure-key-2026-production-ready
JWT_REFRESH_EXPIRES_IN=7d

# Redis Cache & BullMQ
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# Mailer (SMTP)
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM="SIMANTAP Pemkab Konawe Selatan" <noreply@konaweselatankab.go.id>
